DB_USER= <your username>
DB_PASSWORD= <your password>
DB_HOST= localhost
DB_PORT= <your por>
DB_NAME= AutoGrade

SECRET_KEY = <your secret key>
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = <your access token expire minutes, i kept 60>